ul {
	list-style: none;
}
textarea {
	height: 100px;
}
.dt-todo-input-container {
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.dt-todo-input-container button {
	align-self: end;
	width: 100px;
	cursor: pointer;
}
.dt-todo-task-container li.done {
	text-decoration: line-through;
	opacity: 0.3;
}

.dt-todo-task-container .task-done {
	text-decoration: line-through;
}

label {
	word-break: break-word;
}

.dt-todo-container {
	height: 100vh;
}

.popup {
	position: fixed;
	top: auto;
	bottom: 10%;
	left: 0;
	right: 0;
	width: 80%;
	margin: 0 auto;
	height: auto;
	max-height: 200px;
	background: #efeae7;
	padding: 1rem;
	z-index: 99;
	border-radius: 15px;
	box-shadow: 0px 0px 20px 0px;
	border: 4px solid #333;
	transition: 0.5s ease-in-out;
	min-height: 300px;
	max-width: 590px;
}

@keyframes blink {
	0%,
	50%,
	100% {
		border-color: transparent;
	}
	25%,
	75% {
		border-color: green; /* Change this to your desired border color */
	}
}

.blinking-border {
	border: 2px solid transparent; /* Set your desired border style and width */
	animation: blink 6s linear;
	animation-iteration-count: 1;
}

.task-menu-action {
	position: relative;
	display: inline-block;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Styles for the individual dots */
.dot {
	pointer-events: none;
	width: 5px;
	height: 5px;
	background-color: #333;
	border-radius: 50%;
	display: block;
	margin: 2px 0;
}

.dt-todo-task-container .collapse-plus > .collapse-title:after {
	top: 1.6rem;
}

.checkbox {
	width: 18px;
	height: 18px;
}

._toastContainer .warn ._toastItem {
	background: red;
}

.mdc-notched-outline__notch {
	border-left: 0;
	border-right: 0;
}

.svelteui-Menu-body,
.svelteui-Menu-body:hover {
	background: none !important;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
}

.svelteui-MenuItem-root.itemHovered {
	background-color: transparent !important;
}

.justify-right-forced {
	justify-content: right !important;
}

.mdc-deprecated-list-item__text {
	white-space: normal !important;
	-webkit-line-clamp: 2 !important;
	line-height: 1.5em !important;
	max-height: 3em !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical !important;
}

.mdc-dialog-position-bottom .mdc-dialog__container {
	align-items: end;
	margin-bottom: 60%;
}

.timer-buttons-bar {
	background-color: #4299e1 !important;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
  }
  .timer-buttons-button {
	border-radius: 0.5rem;
	border: 1px solid #fed7d7;
	color: #425fe1 !important;
  }
  .timer-buttons-button:hover {
	background-color: #425fe1 !important;
	color: #fff !important;
  }
  .timer-buttons-time {
	background-color: #425fe1;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
  }

  .timer-clock-container {
	background-color: #4299e1 !important;
  }
  .timer-clock-container ._tp-item {
	color: #000;
  }
  .timer-clock-container ._tp-item._tp-selected {
	color: #fff !important;
	font-weight: 800;
  }

  .popup-calendar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	z-index: 999;
  }

  .mdc-select {
	width: 100%;
  }
  .mdc-select__anchor {
	width: 100%;
	min-width: 100%;
  }

  .smui-select--standard .mdc-menu-surface--is-open-below {
   max-height: 250px !important;
  }